 <h1>All Wikis</h1>
 <% @wikis.each do |wiki| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <div class="<%= 'hide' if (current_user.standard? && wiki.private?) %>">
          <%= link_to wiki.title, wiki %>
         </div>
       </h4>
     </div>
   </div>
 <% end %>
 <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>